.cms-wrap-table .cms-table-header th {
	text-align: center;
}

.cms-wrap-table .cms-cal-header td {
	text-align: right;
}

.cms-wrap-table tbody tr td {
	padding: 0px !important;
	text-align: center;
	height: 35px;
	border-right: 0;
	border-left: 0;
}

.cms-wrap-table tbody .table-bordered td {
	vertical-align: middle;
}

.cms-wrap-table tbody .cms-table-agency td {
	border-right: 1px solid #e7eaec;
	border-left: 1px solid #e7eaec;
}

.search-container {
	float: right;
	width: 300px;
}

.component-margin {
	margin-right: 4px;
}

.cms-list-breadcrumb {
	width: 100%;
}

.cms-list-btn-container {
	display: inline;
	float: right;
	padding-right: 10px;
}

.cms-list-header {
	height: 100px;
}

.cms-list-filter-panel {
	float: left;
	padding-left: 20px;
}

.cms-list-filter-panel .cms-filter {
	width: 80px;
	float: left;
}

.cms-list-wrap-table tbody tr td {
	text-align: center;
	height: 35px;
	border-right: 0;
	border-left: 0;
}

.cms-list-table-header th {
	text-align: center;
}

.modal-body-override {
	background-color: #ffffff !important;
}

.history-modal {
	width: 1300px;
}

.history-modal label, .register-modal label {
	padding-top: 0px !important;
	text-align: left !important;
}


